In [1]:
a, b = 0, 1
while b < 2000000:
    print(b, end=' ')
    a, b = b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269

In [2]:
a, b = 0, 1
while b < 20000000:
    print(b, end=' ')
    a, b = b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352

In [3]:
2+2

4

In [4]:
import numpy as np

array = np.array(range(10))

In [5]:
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
array1 = np.array(range(100))

In [7]:
array1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [8]:
array1 * 2

array([  0,   2,   4,   6,   8,  10,  12,  14,  16,  18,  20,  22,  24,
        26,  28,  30,  32,  34,  36,  38,  40,  42,  44,  46,  48,  50,
        52,  54,  56,  58,  60,  62,  64,  66,  68,  70,  72,  74,  76,
        78,  80,  82,  84,  86,  88,  90,  92,  94,  96,  98, 100, 102,
       104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128,
       130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154,
       156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180,
       182, 184, 186, 188, 190, 192, 194, 196, 198])

In [9]:
import numpy as np
random_numbers = np.random.rand(10)
print(random_numbers)

[0.76355323 0.52321089 0.67908924 0.84049841 0.25085747 0.60306695
 0.21875978 0.5136784  0.63977122 0.79313216]

In [10]:
data = np.array([[1.5, -0.1, 3], [0, -3, 6.5]])

In [11]:
data

array([[ 1.5, -0.1,  3. ],
       [ 0. , -3. ,  6.5]])

In [12]:
data * 10

array([[ 15.,  -1.,  30.],
       [  0., -30.,  65.]])

In [13]:
data + data

array([[ 3. , -0.2,  6. ],
       [ 0. , -6. , 13. ]])

In [14]:
data1 = [6, 7.5, 8, 0, 1]

In [15]:
arr1 = np.array(data1)

In [16]:
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [17]:
data2 = [[1, 2, 3, 4], [5, 6, 7, 8]]

In [18]:
arr2 = np.array(data2)

In [19]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [20]:
arr2.shape

(2, 4)

In [21]:
arr1.dtype

dtype('float64')

In [22]:
arr2.dtype

dtype('int64')

In [23]:
arr3 = np.arange(10)

In [24]:
arr3

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
arr2.dtype

dtype('int64')

In [26]:
floatarr2 = arr2.astype(np.float64)

In [27]:
floatarr2.dtype

dtype('float64')

In [28]:
floatarr2

array([[1., 2., 3., 4.],
       [5., 6., 7., 8.]])

In [29]:
arr = np.arange(10)

In [30]:
arr_slc = arr[5:8]

In [31]:
arr_slc

array([5, 6, 7])

In [32]:
arr_slc[0:2] = 12

In [33]:
arr_slc

array([12, 12,  7])

In [34]:
arr_slc[0:] = 12

In [35]:
arr_slc

array([12, 12, 12])

In [36]:
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [37]:
arr_slc[1] = 12345

In [38]:
arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8,
           9])

In [39]:
arr_slc[:] = 64

In [40]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [41]:
import numpy as np

In [42]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [43]:
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [44]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [45]:
arr2d[2]

array([7, 8, 9])

In [46]:
arr2d[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [47]:
arr2d[:2, 1:]

array([[2, 3],
       [5, 6]])

In [48]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

In [49]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [50]:
data = np.array([[4, 7], [0, 2], [-5, 6], [0, 0], [1, 2], [-12, -4], [3, 4 ]])

In [51]:
data

array([[  4,   7],
       [  0,   2],
       [ -5,   6],
       [  0,   0],
       [  1,   2],
       [-12,  -4],
       [  3,   4]])

In [52]:
names == "Bob"

array([ True, False, False,  True, False, False, False])

In [53]:
data[names == "Bob"]

array([[4, 7],
       [0, 0]])

In [54]:
import numpy as np

In [55]:
a, b = 0, 1
while b < 2000000:
    print(b, end=' ')
    a, b = b, a+b

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269

In [56]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [57]:
data

array([[  4,   7],
       [  0,   2],
       [ -5,   6],
       [  0,   0],
       [  1,   2],
       [-12,  -4],
       [  3,   4]])

In [58]:
a, b = 1346269, 2178309
while b < 20000000:
    print(b, end=' ')
    a, b = b, a+b

2178309 3524578 5702887 9227465 14930352

In [59]:
new_random_number = np.random.rand()
print(new_random_number)

0.036324857388994825

In [60]:
import pandas as pd

# Read the Excel file
df_excel = pd.read_excel('BDPT.xlsx')

# Display the dataframe
print(df_excel)

                      APELLIDO Y NOMBRE  \
0                ACOSTA, HUGO SABASTIAN
1                     GIACHELLO, DAMIAN
2                     FERNANDEZ, ALVARO
3               GUZMÁN, RICARDO MARCELO
4               GRESS, JONATHAN ALBERTO
...                                 ...
35350              REARTE, LUIS RODRIGO
35351              RAUTA, FABIAN HECTOR
35352               PARDO, LUIS ALBERTO
35353            GONZALEZ, JUAN EMANUEL
35354  GALARZA, CRISTIAN RAMIRO JOAQUIN

                                    Columna2       FUNCIÓN Columna1  \
0                ACOSTA, HUGO SABASTIAN45443   TECNICO HyS      NaN
1                     GIACHELLO, DAMIAN45443  JEFE DE OBRA      NaN
2                     FERNANDEZ, ALVARO45443     INGENIERO      NaN
3               GUZMÁN, RICARDO MARCELO45443       OFICIAL      NaN
4               GRESS, JONATHAN ALBERTO45443      OFICINAL      NaN
...                                      ...           ...      ...
35350              REARTE, LUIS RODRIGO45626           NaN      NaN
35351              RAUTA, FABIAN HECTOR45626           NaN      NaN
35352               PARDO, LUIS ALBERTO45626           NaN      NaN
35353            GONZALEZ, JUAN EMANUEL45626           NaN      NaN
35354  GALARZA, CRISTIAN RAMIRO JOAQUIN45626           NaN      NaN

                  SECTOR    HR      FECHA  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                    NaN   5.0 2024-05-31         NaN         NaN         NaN
1                    NaN   4.0 2024-05-31         NaN         NaN         NaN
2      MED. RESISTIVIDAD  10.0 2024-05-31         NaN         NaN         NaN
3       DETECCIÓN INTERF  10.0 2024-05-31         NaN         NaN         NaN
4      LIMPIEZA  TERRENO  10.0 2024-05-31         NaN         NaN         NaN
...                  ...   ...        ...         ...         ...         ...
35350                NaN  10.0 2024-11-30         NaN         NaN         NaN
35351                NaN  10.0 2024-11-30         NaN         NaN         NaN
35352                NaN  10.0 2024-11-30         NaN         NaN         NaN
35353                NaN   NaN 2024-11-30         NaN         NaN         NaN
35354                NaN  10.0 2024-11-30         NaN         NaN         NaN

       Unnamed: 10  Unnamed: 11 Unnamed: 12
0              NaN          NaN         NaN
1              NaN          NaN         NaN
2              NaN          NaN         NaN
3              NaN          NaN         NaN
4              NaN          NaN         NaN
...            ...          ...         ...
35350          NaN          NaN         NaN
35351          NaN          NaN         NaN
35352          NaN          NaN         NaN
35353          NaN          NaN         NaN
35354          NaN          NaN         NaN

[35355 rows x 13 columns]

In [61]:
df_excel.head()

,APELLIDO Y NOMBRE,Columna2,FUNCIÓN,Columna1,SECTOR,HR,FECHA,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,"ACOSTA, HUGO SABASTIAN","ACOSTA, HUGO SABASTIAN45443",TECNICO HyS,NaN,NaN,5.0,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
1,"GIACHELLO, DAMIAN","GIACHELLO, DAMIAN45443",JEFE DE OBRA,NaN,NaN,4.0,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
2,"FERNANDEZ, ALVARO","FERNANDEZ, ALVARO45443",INGENIERO,NaN,MED. RESISTIVIDAD,10.0,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
3,"GUZMÁN, RICARDO MARCELO","GUZMÁN, RICARDO MARCELO45443",OFICIAL,NaN,DETECCIÓN INTERF,10.0,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN
4,"GRESS, JONATHAN ALBERTO","GRESS, JONATHAN ALBERTO45443",OFICINAL,NaN,LIMPIEZA TERRENO,10.0,2024-05-31,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df_excel.tail()

,APELLIDO Y NOMBRE,Columna2,FUNCIÓN,Columna1,SECTOR,HR,FECHA,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
35350,"REARTE, LUIS RODRIGO","REARTE, LUIS RODRIGO45626",NaN,NaN,NaN,10.0,2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN
35351,"RAUTA, FABIAN HECTOR","RAUTA, FABIAN HECTOR45626",NaN,NaN,NaN,10.0,2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN
35352,"PARDO, LUIS ALBERTO","PARDO, LUIS ALBERTO45626",NaN,NaN,NaN,10.0,2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN
35353,"GONZALEZ, JUAN EMANUEL","GONZALEZ, JUAN EMANUEL45626",NaN,NaN,NaN,NaN,2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN
35354,"GALARZA, CRISTIAN RAMIRO JOAQUIN","GALARZA, CRISTIAN RAMIRO JOAQUIN45626",NaN,NaN,NaN,10.0,2024-11-30,NaN,NaN,NaN,NaN,NaN,NaN